body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.node circle {
    fill: #fff;
    stroke: steelblue; 
    stroke-width: 1.5px; 
    transition: fill 0.3s ease, stroke 0.3s ease; 
}

.node text {
    font: 10px sans-serif;
    fill: #333; 
    font-weight: normal; 
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
    transition: stroke 0.3s ease, stroke-width 0.3s ease;
}

.highlighted {
    stroke-width: 3px !important; 
    stroke: red !important;
    
}


.node:hover circle {
    fill: #ffeb3b;
    stroke: #f39c12; 
    stroke-width: 2px; 
}

.node:hover text {
    fill: #f39c12; 
    font-weight: bold;
}

.link:hover {
    stroke: #f39c12; 
    stroke-width: 3px; 
}

.context-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 5px 0;
    z-index: 500;
    font-size: 0.7em;
    width: 30vh;
    height: 12vh;

}

.menu-item {
    padding: 1vh 2vh;
    cursor: pointer;
}

.menu-item:hover {
    background: #f5f5f5;
}

#redirectGenre{
    font-weight: bold;
    color: #ff0000 !important;
}

#genre-selector-root {
    position: fixed;
    right: 20px;
    top: 100px;
    width: 18%;
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 80vh;
    overflow-y: auto;
}
