body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Texte sombre */
    background-color: #f4f4f4; /* Couleur de fond douce pour le body */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.node circle {
    fill: #fff; /* Couleur de fond du cercle (nœud) */
    stroke: steelblue; /* Couleur de la bordure */
    stroke-width: 1.5px; /* Largeur de la bordure */
    transition: fill 0.3s ease, stroke 0.3s ease; /* Ajout de transitions pour les effets */
}

/* Texte des nœuds */
.node text {
    font: 10px sans-serif; /* Police simple et petite */
    fill: #333; /* Texte sombre */
    font-weight: normal; /* Texte normal */
}

/* Liens entre les nœuds */
.link {
    fill: none;
    stroke: #ccc; /* Couleur par défaut des liens */
    stroke-width: 1.5px; /* Largeur des liens */
    transition: stroke 0.3s ease, stroke-width 0.3s ease; /* Transitions douces pour les liens */
}

/* Liens et nœuds surlignés */
.highlighted {
    stroke: #ff0000 !important; /* Couleur des liens surlignés */
    stroke-width: 3px !important; /* Largeur des liens surlignés */
}

/* Texte des nœuds surlignés */
.highlighted text {
    font-weight: bold; /* Texte en gras pour les nœuds surlignés */
    fill: #ff0000; /* Couleur du texte surligné */
}

/* Effet de survol des nœuds */
.node:hover circle {
    fill: #ffeb3b; /* Couleur jaune clair au survol */
    stroke: #f39c12; /* Bordure orange au survol */
    stroke-width: 2px; /* Largeur augmentée */
}

/* Effet de survol du texte des nœuds */
.node:hover text {
    fill: #f39c12; /* Texte orange au survol */
    font-weight: bold; /* Mettre le texte en gras */
}

/* Effet de survol des liens */
.link:hover {
    stroke: #f39c12; /* Couleur orange au survol des liens */
    stroke-width: 3px; /* Augmenter la largeur du lien au survol */
}

.context-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 5px 0;
    z-index: 1000;
    font-size: 40px;
}

.menu-item {
    padding: 8px 15px;
    cursor: pointer;
}

.menu-item:hover {
    background: #f5f5f5;
}

#redirectGenre{
    font-weight: bold;
    color: #ff0000 !important;
}
