body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.node circle {
    fill: #fff;
    stroke: steelblue; 
    stroke-width: 1.5px; 
    transition: fill 0.3s ease, stroke 0.3s ease; 
}

/* Texte des nœuds */
.node text {
    font: 10px sans-serif;
    fill: #333; 
    font-weight: normal; 
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
    transition: stroke 0.3s ease, stroke-width 0.3s ease;
}

/* Liens et nœuds surlignés */
.highlighted {
    stroke-width: 3px !important; /* Largeur des liens surlignés */
    stroke: red !important; /* Couleur des liens surlignés */
    
}



/* Effet de survol des nœuds */
.node:hover circle {
    fill: #ffeb3b; /* Couleur jaune clair au survol */
    stroke: #f39c12; /* Bordure orange au survol */
    stroke-width: 2px; /* Largeur augmentée */
}

/* Effet de survol du texte des nœuds */
.node:hover text {
    fill: #f39c12; /* Texte orange au survol */
    font-weight: bold; /* Mettre le texte en gras */
}

/* Effet de survol des liens */
.link:hover {
    stroke: #f39c12; /* Couleur orange au survol des liens */
    stroke-width: 3px; /* Augmenter la largeur du lien au survol */
}

.context-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 5px 0;
    z-index: 500;
    font-size: 0.7em;
    width: 30vh;
    height: 12vh;

}

.menu-item {
    padding: 1vh 2vh;
    cursor: pointer;
}

.menu-item:hover {
    background: #f5f5f5;
}

#redirectGenre{
    font-weight: bold;
    color: #ff0000 !important;
}
